#privacy-page {
    background-color: #f9f9f9;
}

.privacy-section {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    padding: 40px;
    max-width: 900px;
    margin: auto;
    background-color: #f9f9f9;
    color: #333;
}

.privacy-section h1,
h2 {
    color: #0056b3;
}

.privacy-section a {
    color: #0056b3;
    text-decoration: none;
}

.privacy-section a:hover {
    text-decoration: underline;
}